/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-image: url("images/books-1204029_1920.jpg");
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

/*Navigator*/

.navbar a{
    font-size: 28px;
}
.collapse a {
    font-size: 18px;
}

/*Main*/

.main {
    color: white;
    margin: 20px auto;
}

.img-fluid {
    width: auto;
    height: auto;
}

.list-container {
    margin: 30px auto 15px;
    color: black;
    border: solid 1px #5a5a5a;
    border-radius: 5px;
    background-color: lightslategrey;
    opacity: 0.97;
}

.list-container h1 {
    color: white;
}

.list-header-row {
    border-radius: 5px;
    font: bold 1.3rem Arial;
    background-color: white;
    border: solid 1px #5a5a5a;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.list-row {
    border-radius: 5px;
}

.detail-list-header-row {
    font: 1.3rem Arial;
    background-color: lightcyan;
    border: solid 1px #5a5a5a;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.list-row:nth-child(odd) {
    background-color: floralwhite;
    border: solid 1px #5a5a5a;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.list-row:nth-child(even) {
    background-color: azure;
    border: solid 1px #5a5a5a;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.list-row:nth-child(odd):hover {
    background-color: #deebde;
    border: solid 1px #5a5a5a;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.list-row:nth-child(even):hover {
    background-color: #deebeb;
    border: solid 1px #5a5a5a;
    margin: 1px;
    padding: 2px 0 2px 0;
}

.form-container {
    border-radius: 5px;
    margin: 30px auto;
    background-color: lightslategrey;
    opacity: 0.97;
}

.form-container h1 {
    color: white;
}

.form-row-container {
    border-radius: 5px;
    background-color: lightgrey;
    color: black;
    position: center;
    border: solid 1px #5a5a5a;
    padding: 15px;
}

.form-row-buttons {
    position: center;
    padding: 10px;
}

.value-cell {
    display: block;
    text-align: center;
    font: bold 1.4rem Arial;
}
.justified{
    justify-content: center;
}

footer {
    border-radius: 5px;
    background: #343a40;
    margin-top: 20px;
    opacity: 0.97;
}

footer a{
    border-radius: 5px;
    border: 1px black solid;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    background-color: darkorange;
}

footer a:hover{
    text-decoration: none;
    background-color: white;
    color: black;
    transition: 1s;
}


