<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>

    <div th:replace="fragments :: headerlinks" th:remove="tag"></div>
</head>
<body>
<header th:replace="fragments :: navigator"></header>

<main role="main" class="main">
    <div class="container">
        <div class="row col-md-12 list-container">
            <div class="row col-md-12">
                <h1>Author list</h1>
            </div>
            <div class="row col-md-12 list-header-row">
                <div class="col-md-1">Id</div>
                <div class="col-md-1">Name</div>
                <div class="col-md-2">Surname</div>
                <div class="col-md-2">Birth Date</div>
                <div class="col-md-2">Written Books</div>
                <div class="col-md-4 "></div>
            </div>
            <div class="row col-md-12 list-row" th:each="author : ${authors}">
                <div class="col-md-1" th:text="${author.getId()}"></div>
                <div class="col-md-1" th:text="${author.getName()}"></div>
                <div class="col-md-2" th:text="${author.getSurname()}"></div>
                <div class="col-md-2" th:text="${author.getBirthDate()}"></div>
                <div class="col-md-2" th:text="${author.getBooksWritten()}"></div>
                <div class="row col-md-4">
                                        <div class="col-md-4">
                                            <a th:href="@{'/author/details/'+${author.getId()}}" class="col-md-12">
                                                <button type="button" class="btn btn-info col-md-12">Details</button>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a th:href="@{'/author/edit/'+${author.getId()}}" class="col-md-12">
                                                <button type="button" class="btn btn-primary col-md-12">Edit</button>
                                            </a>
                                        </div>
                                        <div class="col-md-4">
                                            <a th:href="@{'/author/books/'+${author.getId()}}" class="col-md-12">
                                                <button type="button" class="btn btn-danger col-md-12">Books</button>
                                            </a>
                                        </div>
                </div>
            </div>
            <div class="row col-md-12 justify-content-center" style="margin-top: 15px">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" th:if="${authors.getNumber() >0}">
                                <a class="page-link" th:href="@{/author/list(page=${authors.getNumber() - 1}, size=${authors.getSize()})}">Previous</a>
                            </li>
                            <li class="page-item" th:each="number : ${#numbers.sequence(authors.getNumber() - 3, authors.getNumber() - 1)}"
                                th:if="${number >= 0}">
                                <a class="page-link" th:href="@{/author/list(page=${number}, size=${authors.getSize()})}" th:text="${number + 1}"></a>
                            </li>
                            <li class="page-item" th:each="number : ${#numbers.sequence(authors.getNumber(), authors.getNumber() + 3)}"
                                th:if="${number <= authors.getTotalPages()-1}">
                                <a class="page-link" th:href="@{/author/list(page=${number}, size=${authors.getSize()})}" th:text="${number + 1}"></a>
                            </li>
                            <li class="page-item" th:if="${authors.getNumber() < authors.getTotalPages() - 1}">
                                <a class="page-link" th:href="@{/author/list(page=${authors.getNumber() + 1}, size=${authors.getSize()})}">Next</a>
                            </li>
                        </ul>
                    </nav>
            </div>
        </div>
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2020 Paweł Kwidziński</p>
        </footer>
    </div>
</main>

<div th:replace="fragments :: footerscripts"></div>

</body>
</html>
